body{
  margin: auto;

}

.logo{
  background-image: url("images/backgrounds/h_img.jpg");
  height:700px; 
   
}
#logo{
  text-align-last: center;
  padding-top: 200px;
  padding-bottom: 30px;

}
.heading1, .heading2{
  text-align: center;
}
.heading2{
  padding-bottom: 120px;
}
#mouse{
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.aboutus{
  text-align: center;
  height: 300px;
  padding: 30px;
  line-height: 200%;
}